<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>MieRoom</title>
  <style>
      h2 a {
          text-decoration: none;
          color: inherit;
      }
  </style>
</head>
<body>
  
<div class="container ">
       <h2 class="mb-4"><a href="/">Rooms<span>ルーム一覧</span></a></h2>
      <!-- <div id="user-profile">-->
      <!--  <img id="user-icon" src="" alt="User Icon">-->
      <!--  <p id="user-name"></p>-->
      <!--</div>-->
        <% unless Room.all.empty?  %>
          <% @rooms.each do |room|%>
          <div class="container border-start border-5 rounded border-primary bg-light my-4 shadow-sm" style="max-width: 500px;">
            
            <div class="row justify-content-center ">
              <!--<div class="col-6">-->
                  <div class="row no-gutters pe-0">
                      <div class="col-7 py-3 pe-0">
                          <div class="body">
                             <p class="fw-bold"><a href="/room/<%= room.id %>" style="color: inherit;"><%= room.name %></a></p>
                              <div class="container mt-2 ps-0 pe-5">
                                <div class="rounded px-3 d-flex justify-content-between align-items-center"
                                style="
                                  background-color: #f0f0f0; /* 薄い色 */border: 2px solid #007bff; /* ボーダー色 */
                                "
                                >
                                  <div class="d-flex align-items-center">
                                    <i class="fas fa-user mr-2 fs-1"></i> <!-- FontAwesome icon (change class as needed) -->
                                  </div>
                                  <div class="text-center">
                                    <p class="mb-0">在室中</p>
                                    <h1 class="mb-0"><%= room.entry_records.where(exit_time: nil).count %></h1>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-5 py-2 d-flex justify-content-between align-items-center ps-0">
                          <img src="<%= room.image %>" alt=" image" class="img-fluid img-thumbnail" style="idth: auto; min-height: 96xp;" >
                      </div>
                  </div>
              </div>
          </div>
           <% end %>
        <% else %>
        	<h4 class="text-center">ルームがありません</h4>
        <% end %>
    </div>
  <script>
  // LIFF ID を取得
    // const liffId = process.env.LIFF_ID;
    // console.log('liffId:', liffId);
    // LIFFアプリの初期化
    liff.init({ liffId: "2000904186-6yN4M2vP" })
    .then(() => {
        if (!liff.isLoggedIn()) {
            liff.login();
            console.log('LINEログインしました');
        } else {
            // プロフィール取得
            liff.getProfile()
            .then(profile => {
                const userName = profile.displayName;
                const lineId = profile.userId;
                const userIcon = profile.pictureUrl;
                
                console.log('line_name:', userName);
                console.log('line_id:', lineId);
                console.log('line_icon_url:', userIcon);
            
                // ユーザー名とアイコンを表示する要素にセット
                // document.getElementById('user-name').textContent = userName;
                // document.getElementById('user-icon').src = userIcon;
            
                // ユーザー情報をサーバーに送信
                fetch('/line_login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        line_name: userName,
                        line_id: lineId,
                        line_icon_url: userIcon
                    })
                })
                .then(response => {
                    if (response.ok) {
                        // LINEログインが成功した場合、トップページにリダイレクト
                        // window.location.href = '/';
                    } else {
                        console.log('LINEログインエラー');
                    }
                })
                .catch(error => {
                    console.error('LINEログインエラー:', error);
                });
            })
            .catch((err) => {
                console.log('error', err);
            });
        }
    })
  </script>
</body>
</html>
