<div class="container d-flex flex-column align-items-center justify-content-center h-100 ">
    <div class="text-center"> 
        <h4 class = "my-5">ルーム登録</h4>
        <form action="/room/new" method="post"  enctype="multipart/form-data" >
            <input class="form-control" name="name" placeholder="ルーム名"><br>
            <input type="file" accept="image/*" class="form-control mb-4" id="customFile" name="upload_photo">
            <input class="form-control btn btn-dark mb-3" type="submit" value="ROOM NEW"> 
        </form>
    </div>
</div>