<div class="container d-flex flex-column align-items-center justify-content-center h-100 ">
    <div class="text-center"> 
        <h4 class = "my-5">ユーザー登録</h4>
        <form action="/signup" method="post"  enctype="multipart/form-data" >
            <input class="form-control" name="name" placeholder="ユーザー名"><br>
            <input class="form-control" name="password" type="password" placeholder="パスワード"><br>
            <input class="form-control" type="password" name="password_confirmation" required placeholder="パスワードを確認"></br>
            <input type="file" accept="image/*" class="form-control mb-4" id="customFile" name="upload_photo">
            <input class="form-control btn btn-dark mb-3" type="submit" value="SIGN UP"> 
        </form>
    </div>
</div>