<div class="container d-flex flex-column align-items-center justify-content-center h-100 ">
    <div class="text-center"> 
        <h4 class = "my-5">ログイン</h4>
        <form action="/signin" method="post" >
            <input class="form-control" name="name" placeholder="ユーザー名"><br>
            <input class="form-control" name="password" type= "パスワード" placeholder="パスワード"><br>
            <input class="form-control" type="password" name="password_confirmation" required placeholder="パスワードを確認"></br>
            <input class="form-control btn btn-dark mb-3" type="submit" value="SIGN IN"> 
        </form>
    </div>
</div>